/* ==========================================================================
   Variables Section
   ========================================================================== */







/* Colors
   ========================================================================== */
$color-1: #daecec;  //pale-blue
$color-2: #f8f5ea;  //beige 
$color-3: #3a3f3e;  //gray-text 
$color-4: #cb9d1f;  //gold
$color-5: #e0e0e0;  //gray-footer
$color-6: #fff;     //white
$color-7: #aecdcb;  //blue-social
$color-8: #f3efdf;  //darker beige

$color-9: #e8e4d3;  //beige-borders







/* Max width
   ========================================================================== */
$max-width: 1183px;
  